button.maintenance{
    position: fixed;
    bottom:60px;
    right:60px;
}
div.viewTicketsPopup{
    border: 1px solid black;
    min-height: 400px;
    min-width: 50%;
    position: relative;
    top:-700px;
    left: -880px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0, 0.2);
}

div.singleTicket{
    position: relative;
    
}