div.helmetReport{
    min-height: 91vh;
    position: relative;
}
div.singleReport{
    margin-top: 30px;
    /* border: 1px solid black; */
    min-width: 75%;
    min-height: 125px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0, 0.2);
}
span.HelmetAttriLogo{
    min-width: 175px;
    width: 200px;
}
span.helmetId{
    display: block;
    float: left;
    border-left: 2px solid rgb(92, 88, 88);
    font-size: 25px;
    margin-left: 30px;
    color: rgb(107, 102, 102);
    font-weight: 600;
    padding-left: 15px;
    height: 50px;
    padding-top: 14px;
}
span.helmetAttri{
    display: inline-block;
    min-width: 366px;
}
span.helmetAttriVal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    color:cornflowerblue;
    
    
}
span.helmetAttriTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    
}
button.moreOption{
    border-radius: 100%;
    height: 47px;
    width: 47px;
    text-align: center;
    margin-left: 35px;
    font-size: 30px;
    padding-bottom: 48px;
    outline:none;
    cursor: pointer;
    border: 1px solid cornflowerblue;
    background-color: white;
    font-weight: 900;
}
button.moreOption:hover{
    color:white;
    background-color: cornflowerblue;
    box-shadow: 1px 1px 10px 4px rgba(0,0,0,0.2);
}
button.moreOption:active{
    transform: translateY(2px);
}
img.HelmetLogo{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
}
button.openModal{
    position: fixed;
    bottom:60px;
    right:60px;
    background: none;
    outline: none;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}
button.openModal:hover{
    background-color: rgba(148, 141, 141, 0.2);
}
button.openModal:active{
    transform: translateY(4px);
}
button.closeModal{
    position: absolute;
    top:40px;
    right:40px;
    min-height: 16px;
    min-width: 16px;
    border-radius: 100%;
    background-color: red;
    outline: none;
    border: 1px solid red;
    cursor: pointer;
}
button.closeModal:hover{
    background-color: rgb(221, 1, 1);
}
button.closeModal:active{
    transform: translateY(2px);
}

.viewLastChargeModalStyles{
    position: fixed;
    top: 100px;
    left: 400px;
    right: 600px;
    bottom: 350px;
    background-color: white;
    padding: 20px;
    overflow: auto;
    min-height: 560px;
}
.viewLastChargeModalStyles::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .viewLastChargeModalStyles::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .viewLastChargeModalStyles::-webkit-scrollbar-thumb {
    background: #aaaa80; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .viewLastChargeModalStyles ::-webkit-scrollbar-thumb:hover {
    background: #aaaa80; 
  }
h2.LastChargeModalHeading{
    font-size: 33px;
    margin-left: 48px;
}
div.singleReportChargeList{
    margin-top: 30px;
    /* border: 1px solid black; */
    min-width: 75%;
    min-height: 125px;
    width: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0, 0.2);
}
span.helmetAttriChargeList{
    display: inline-block;
    margin-left: 47px;
    min-width: 10vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
span.logVal{
    color:cornflowerblue
}
span.logTitle{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 300;
}
.viewTicketsModalStyles{
    position: fixed;
    top: 100px;
    left: 600px;
    right: 600px;
    bottom: 350px;
    background-color: white;
    padding: 20px;
    overflow: auto;
    min-height: 560px;
}
/* width */
.viewTicketsModalStyles::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .viewTicketsModalStyles::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .viewTicketsModalStyles::-webkit-scrollbar-thumb {
    background: #aaaa80; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .viewTicketsModalStyles ::-webkit-scrollbar-thumb:hover {
    background: #aaaa80; 
  }

h2.viewTicketHeading{
    font-size: 30px;
    margin: 20px 0 20px 20px;
    
}

div.singleTicket{
    min-height: 100px;
    margin-left: 20px;
    font-family: sans-serif;
}

button.raiseTicketModalBtn{
    position: fixed;
    bottom:300px;
    right:650px;
    background-color: #aaaa80;
    color: white;
    outline: none;
    border: 1px solid #33bb80;
    min-height: 50px;
    min-width: 150px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    box-shadow: 2px 2px 6px 4px rgba(79, 175, 87, 0.4);
    cursor: pointer;
}

button.raiseTicketModalBtn:hover{
    background-color: #8f8f6c;
}
button.raiseTicketModalBtn:active{
    transform: translateY(4px);
}


div.helmetSelection{
    
    justify-content: center;
    /* background-color: #33bb80; */
    padding: 1% 0 3% 18%;
}
select.helmetSelectOption{
    min-width: 73%;
    min-height: 10%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border: 1px sold white;
    box-shadow: 2px 2px 8px 4px rgba(0,0,0, 0.2);
    font-size: 20px;
    outline: none;
    border: 1px solid white;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    background-position-x: 97%;
}

div.ticketDrescription{
    justify-content: center;
    /* background-color: #33bb80; */
    padding: 1% 0 5% 18%;
}

textarea.ticketDescBox{
    border-radius:20px ;
    background-color:rgb(240, 222, 222);
    min-width:72%;
    max-height: 120px;
    border:2px solid gray;
    outline:none;
    padding:10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #574949;
}

button.createBtn{
    display: flex;
    margin-top: 2%;
    margin-left: 23%;
    overflow: hidden;
    min-width: 26%;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: #ff6666;
    color: white;
    border: 1px solid red;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.2);
    cursor: pointer;
}
button.createBtn:hover{
    background-color: #ff3232;
}
button.createBtn:active{
    transform: translateY(4px);

}

.ticketCreatedModalStyles{
    position: fixed;
    top: 250px;
    left: 700px;
    right: 700px;
    bottom: 200px;
    background-color: white;
    padding: 20px;
    overflow: auto;
}


img.ticketCreatedImg{
    width: 150px;
    height: 150px;
    margin: 0 10% 0 33%;
}
h2.ticketCreatedHeading{
    font-size: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    margin: 2% 10% 3% 25%;
    color: #98F22B;
}
h3.ticketCreatedMsg{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    margin: 0 10% 5% 30%;
    color: #776565;

}